@import "../../styles/variables.scss";

#errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  background-color: #000;
  font-family: 'Press Start 2P', cursive;

  h1 {
    font-size: 10rem;
  }

  p {
    font-size: 1.5rem;
  }

  &.error-404 {
    background: url('./../../assets/images/404.jpg') no-repeat center center;
    background-size: cover;
  }

  &.error-403 {
    background: url('./../../assets/images/401.jpg') no-repeat center center;
    background-size: cover;
  }

  &.error-401 {
    background: url('./../../assets/images/401.jpg') no-repeat center center;
    background-size: cover;
  }
}
