$mainColor: #0099ff;
$highlightColor: #00ff00;
$btnColor: #ff0066;
$btnText: #ffff00;
$accentColor: #ffff00;
$background: #000000;
$main: "Open Sans", sans-serif;
$title: "Orbitron", sans-serif;
$callToAction: "Press Start 2P", cursive;
$secondary: "Raleway", sans-serif;
$min-width: 200px;
$max-width: 350px;
$min-height: 250px;
$max-height: 400px;
