@import "../styles/variables.scss";

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: $accent-color;
  text-align: center;
  background-color: #000;
  font-family: 'Press Start 2P', cursive;

  .game-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

  }

  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: $background-color;
    color: $text-color;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

  }

  .game-platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: $background-color;
    color: $text-color;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 10px;
      background-color: $background-color;
      color: $text-color;
    }

    li {
      margin: 5px;
    }
  }

  .game-requirements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: $background-color;
    color: $text-color;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }

  .game-screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: $background-color;
    color: $text-color;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 10px;
      background-color: $background-color;
      color: $text-color;
    }

    li {
      margin: 5px;
    }

    a {
      text-decoration: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }

  }

}
