@import "../../styles/variables.scss";

.register-form {
  width: 300px;

  h2 {
    margin-bottom: $product-details-margin-top;
  }

  input {
    width: 100%;
    margin-bottom: $product-details-margin-top;
    padding: 10px;
    border: none;
    border-radius: $product-image-border-radius;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

    &:focus {
      outline: none;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: $button-bg-color;
    border: none;
    border-radius: $button-border-radius;
    color: $button-text-color;
    cursor: pointer;

    &:hover {
      background-color: $button-hover-color;
    }

    &:active {
      background-color: darken($button-hover-color, 10%);
    }

    &:disabled {
      background-color: lighten($button-bg-color, 30%);
      cursor: not-allowed;
    }
  }
}
