@import "./styles/variables", "./styles/responsive";

*,
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main;
    color: $mainColor;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

body {
    background: url("./assets/images/background-blob-animated.svg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    backdrop-filter: opacity(0.7);
    transition: all 0.2s;
    padding: 0;
    margin: 0;
    font-family: $main;
    color: $mainColor;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    #root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


    }
}
